<section class="header">
    <h1>Tecnológico Nacional de México</h1>
    <p>Instituto Tecnológico de Tepic</p>
    <h3 class="interfa1">M.C. ARJONA VIZCAÍNO ISRAEL</h3>
    <h3 class="interfa1">Guzmán Álvarez Sergio Alejandro</h3>
    <h3 class="interfa1">Zepeda Sotelo Luis Antonio</h3>
    <h3 class="interfa1">Ingeniería En Sistemas Computacionales</h3>
    <br>
    <a href="/comandos">
        <button type="button" ahref="/comandos" class="btn btn-dark">Comandos Git</button>
      </a> 
      <br>
      <br>
      <br>
      <br>
      <br>
      <p>INTERFACES WEB | Tepic, Nayarit a Jueves 15 de febrero del 2023</p>
</section>
<br>