<div class="wrp">
    <div class="portada"></div>
    <div class="contenido">
        <div class="info">
            <h1>Glosario de comandos GIT</h1>
        </div>
    </div>
</div>
<div class="tabla-user">
    <div class="container text-center">
      <div class="row align-items-start">
        <div class="col">
          
          <ul class="list-group">
            <li class="list-group-item" style="height: 40px; border-radius: 0px;"><strong>Comando</strong></li>
          </ul>
          <ul class="list-group list-group-flush">
            <li class="list-group-item" style="height: 100px; text-align: center; font-size: 17px;">git init</li>
            <li class="list-group-item"style="height: 100px; text-align: center; font-size: 17px;">git clone</li>
            <li class="list-group-item"style="height: 100px; text-align: center; font-size: 17px;">git add</li>
            <li class="list-group-item" style="height: 100px; text-align: center; font-size: 17px;">git commit</li>
            <li class="list-group-item"style="height: 100px; text-align: center; font-size: 17px;">git config</li>
            <li class="list-group-item"style="height: 100px; text-align: center; font-size: 17px;">git status</li>
            <li class="list-group-item" style="height: 100px; text-align: center; font-size: 17px;">git push</li>
            <li class="list-group-item"style="height: 100px; text-align: center; font-size: 17px;">git checkout</li>
            <li class="list-group-item"style="height: 100px; text-align: center; font-size: 17px;">git remote</li>
            <li class="list-group-item"style="height: 100px; text-align: center; font-size: 17px;">git branch</li>
            <li class="list-group-item"style="height: 100px; text-align: center; font-size: 17px;">git pull</li>
            <li class="list-group-item"style="height: 100px; text-align: center; font-size: 17px;">git merge</li>
            <li class="list-group-item"style="height: 100px; text-align: center; font-size: 17px;">git diff</li>
            <li class="list-group-item"style="height: 100px; text-align: center; font-size: 17px;">git tag</li>
            <li class="list-group-item"style="height: 100px; text-align: center; font-size: 17px;">git log</li>
            <li class="list-group-item"style="height: 100px; text-align: center; font-size: 17px;">git reset</li>
            <li class="list-group-item"style="height: 100px; text-align: center; font-size: 17px;">git rm</li>
            <li class="list-group-item"style="height: 100px; text-align: center; font-size: 17px;">git stash</li>
            <li class="list-group-item"style="height: 100px; text-align: center; font-size: 17px;">git show</li>
            <li class="list-group-item"style="height: 100px; text-align: center; font-size: 17px;">git fetch</li>
            <li class="list-group-item"style="height: 100px; text-align: center; font-size: 17px;">git is-tree</li>
            <li class="list-group-item"style="height: 100px; text-align: center; font-size: 17px;">git cat-file</li>
            <li class="list-group-item"style="height: 100px; text-align: center; font-size: 17px;">git grep</li>
            <li class="list-group-item"style="height: 100px; text-align: center; font-size: 17px;">gitk</li>
            <li class="list-group-item"style="height: 100px; text-align: center; font-size: 17px;">git instaweb</li>
            <li class="list-group-item"style="height: 100px; text-align: center; font-size: 17px;">git gc</li>
            <li class="list-group-item"style="height: 100px; text-align: center; font-size: 17px;">git archive</li>
            <li class="list-group-item"style="height: 100px; text-align: center; font-size: 17px;">git prune</li>
            <li class="list-group-item"style="height: 100px; text-align: center; font-size: 17px;">git fsck</li>
            <li class="list-group-item"style="height: 100px; text-align: center; font-size: 17px;">git rebase</li>
          </ul>
        </div>
        <div class="col" style="margin-left: -25px;">
          <ul class="list-group">
            <li class="list-group-item" style="height: 40px; border-radius: 0px; text-decoration:wavy;"><strong>Descripción</strong></li>
          </ul>
          <ul class="list-group list-group-flush">
            <li class="list-group-item" style="height: 100px; text-align: center; font-size: 17px;">
                <p>
                    Creará un nuevo repositorio local GIT.
                </p>
            </li>
            <li class="list-group-item"style="height: 100px; text-align: center; font-size: 17px;">
                <p>
                    Se usa para copiar un repositorio.
                </p>
            </li>
            <li class="list-group-item"style="height: 100px; text-align: center; font-size: 17px;">
                <p>
                    Se usa para agregar archivos al área de preparación.
                </p>
            </li>
            <li class="list-group-item" style="height: 100px; text-align: center; font-size: 17px;">
              <p>
                Creará una instantánea de los cambios y la guardará en el directorio git.
              </p>
            </li>
            <li class="list-group-item"style="height: 100px; text-align: center; font-size: 17px;">
              <p>
                Puede ser usado para establecer una configuración específica de usuario, como el email, <br>nombre de usuario y tipo de formato, etc.
              </p>
            </li>
            <li class="list-group-item"style="height: 100px; text-align: center; font-size: 17px;">
              <p>
                Muestra la lista de los archivos que se han cambiado junto con los archivos que están por <br>ser preparados o confirmados.
              </p>
            </li>
            <li class="list-group-item" style="height: 100px; text-align: center; font-size: 17px;">
            <p>
              Se usa para enviar confirmaciones locales a la rama maestra del repositorio remoto.
            </p>
          </li>
          <li class="list-group-item"style="height: 100px; text-align: center; font-size: 17px;">
            <p>
              Crea ramas y te ayuda a navegar entre ellas.
            </p>
          </li>
          <li class="list-group-item"style="height: 100px; text-align: center; font-size: 17px;">
            <p>
              Te permite ver todos los repositorios remotos
            </p>
          </li>
          <li class="list-group-item"style="height: 100px; text-align: center; font-size: 17px;">
            <p>
              Se usa para listar, crear o borrar ramas.
            </p>
          </li>
          <li class="list-group-item"style="height: 100px; text-align: center; font-size: 17px;">
            <p>
              Fusiona todos los cambios que se han hecho en el repositorio remoto con el directorio de trabajo local.
            </p>
          </li>
          <li class="list-group-item"style="height: 100px; text-align: center; font-size: 17px;">
            <p>
              Se usa para fusionar una rama con otra rama.
            </p>
          </li>
          <li class="list-group-item"style="height: 100px; text-align: center; font-size: 17px;">
            <p>
              Se usa para hacer una lista de conflictos.
            </p>
          </li>
          <li class="list-group-item"style="height: 100px; text-align: center; font-size: 17px;">
            <p>
              Marca commits específicos.
            </p>
          </li>
          <li class="list-group-item"style="height: 100px; text-align: center; font-size: 17px;">
            <p>
              Se usa para ver el historial del repositorio listando ciertos detalles de la confirmación.
            </p>
          </li>
          <li class="list-group-item"style="height: 100px; text-align: center; font-size: 17px;">
            <p>
              Sirve para resetear el index y el directorio de trabajo al último estado de confirmación.
            </p>
          </li>
          <li class="list-group-item"style="height: 100px; text-align: center; font-size: 17px;">
            <p>
              Se puede usar para remover archivos del index y del directorio de trabajo.
            </p>
          </li>
          <li class="list-group-item"style="height: 100px; text-align: center; font-size: 17px;">
            <p>
              Guardará momentáneamente los cambios que no están listos para ser confirmados. De esta manera, pudes volver al proyecto más tarde.
            </p>
          </li>
          <li class="list-group-item"style="height: 100px; text-align: center; font-size: 17px;">
            <p>
              Se usa para mostrar información sobre cualquier objeto git.
            </p>
          </li>
          <li class="list-group-item"style="height: 100px; text-align: center; font-size: 17px;">
            <p>
              Le permite al usuario buscar todos los objetos de un repositorio remoto que actualmente no se encuentran en el directorio de trabajo local.
            </p>
          </li>
          <li class="list-group-item"style="height: 100px; text-align: center; font-size: 17px;">
            <p>
              Te permite ver un objeto de árbol junto con el nombre y modo de cada ítem, y el valor blob de SHA-1. Si quieres ver el HEAD, usa:
            </p>
          </li>
          <li class="list-group-item"style="height: 100px; text-align: center; font-size: 17px;">
            <p>
              Se usa para ver la información de tipo y tamaño de un objeto del repositorio. 
            </p>
          </li>
          <li class="list-group-item"style="height: 100px; text-align: center; font-size: 17px;">
            <p>
              Le permite al usuario buscar frases y palabras específicas en los árboles de confirmación, el directorio de trabajo y en el área de preparación.
            </p>
          </li>
          <li class="list-group-item"style="height: 100px; text-align: center; font-size: 17px;">
            <p>
              Muestra la interfaz gráfica para un repositorio local.
            </p>
          </li>
          <li class="list-group-item"style="height: 100px; text-align: center; font-size: 17px;">
            <p>
              Te permite explorar tu repositorio local en la interfaz GitWeb.
            </p>
          </li>
          <li class="list-group-item"style="height: 100px; text-align: center; font-size: 17px;">
            <p>
              Limpiará archivos innecesarios y optimizará el repositorio local.
            </p>
          </li>
          <li class="list-group-item"style="height: 100px; text-align: center; font-size: 17px;">
            <p>
              Le permite al usuario crear archivos zip o tar que contengan los constituyentes de un solo árbol de repositorio.
            </p>
          </li>
          <li class="list-group-item"style="height: 100px; text-align: center; font-size: 17px;">
            <p>
              Elimina los objetos que no tengan ningún apuntador entrante.
            </p>
          </li>
          <li class="list-group-item"style="height: 100px; text-align: center; font-size: 17px;">
            <p>
              Realiza una comprobación de integridad del sistema de archivos git e identifica cualquier objeto corrupto.
            </p>
          </li>
          <li class="list-group-item"style="height: 100px; text-align: center; font-size: 17px;">
            <p>
              Se usa para aplicar ciertos cambios de una rama en otra.
            </p>
          </li>
          </ul>
        </div>
        <div class="col" style="margin-left: -25px;">
            <ul class="list-group">
              <li class="list-group-item" style="height: 40px; border-radius: 0px; text-decoration:wavy;"><strong>Código</strong></li>
            </ul>
            <ul class="list-group list-group-flush">
              <li class="list-group-item" style="height: 100px; text-align: center; font-size: 17px;">
                git init
              </li>
              <li class="list-group-item"style="height: 100px; text-align: center; font-size: 17px;">
                git clone nombredeusuario@host:/path/to/repository
              </li>
              <li class="list-group-item"style="height: 100px; text-align: center; font-size: 17px;">
                git add temp.txt
              </li>
              <li class="list-group-item"style="height: 100px; text-align: center; font-size: 17px;">
                git commit –m “El mensaje que acompaña al commit va aquí”
              </li>
              <li class="list-group-item"style="height: 100px; text-align: center; font-size: 17px;">
                git config --global user.email tuemail@ejemplo.com
              </li>
              <li class="list-group-item"style="height: 100px; text-align: center; font-size: 17px;">
                git status
              </li>
              <li class="list-group-item"style="height: 100px; text-align: center; font-size: 17px;">
                git push  origin master
              </li>
              <li class="list-group-item"style="height: 100px; text-align: center; font-size: 17px;">
                command git checkout -b branch-name
              </li>
              <li class="list-group-item"style="height: 100px; text-align: center; font-size: 17px;">
                git remote -v
              </li>
              <li class="list-group-item"style="height: 100px; text-align: center; font-size: 17px;">
                git branch
              </li>
              <li class="list-group-item"style="height: 100px; text-align: center; font-size: 17px;">
                git pull
              </li>
              <li class="list-group-item"style="height: 100px; text-align: center; font-size: 17px;">
                git merge branch-name
              </li>
              <li class="list-group-item"style="height: 100px; text-align: center; font-size: 17px;">
                git diff --base file-name
              </li>
              <li class="list-group-item"style="height: 100px; text-align: center; font-size: 17px;">
                git tag 1.1.0 instert-commitID-here
              </li>
              <li class="list-group-item"style="height: 100px; text-align: center; font-size: 17px;">
                git log
              </li>
              <li class="list-group-item"style="height: 100px; text-align: center; font-size: 17px;">
                git reset - -hard HEAD
              </li>
              <li class="list-group-item"style="height: 100px; text-align: center; font-size: 17px;">
                git rm filename.txt
              </li>
              <li class="list-group-item"style="height: 100px; text-align: center; font-size: 17px;">
                git stash
              </li>
              <li class="list-group-item"style="height: 100px; text-align: center; font-size: 17px;">
                git show
              </li>
              <li class="list-group-item"style="height: 100px; text-align: center; font-size: 17px;">
                git fetch origin
              </li>
              <li class="list-group-item"style="height: 100px; text-align: center; font-size: 17px;">
                git ls-tree HEAD
              </li>
              <li class="list-group-item"style="height: 100px; text-align: center; font-size: 17px;">
                git cat-file –p d670460b4b4aece5915caf5c68d12f560a9fe3e4
              </li>
              <li class="list-group-item"style="height: 100px; text-align: center; font-size: 17px;">
                git grep “www.hostinger.com”
              </li>
              <li class="list-group-item"style="height: 100px; text-align: center; font-size: 17px;">
                gitk
              </li>
              <li class="list-group-item"style="height: 100px; text-align: center; font-size: 17px;">
                git instaweb –http=webrick
              </li>
              <li class="list-group-item"style="height: 100px; text-align: center; font-size: 17px;">
                git gc
              </li>
              <li class="list-group-item"style="height: 100px; text-align: center; font-size: 17px;">
                git archive - -format=tar master
              </li>
              <li class="list-group-item"style="height: 100px; text-align: center; font-size: 17px;">
                git prune
              </li>
              <li class="list-group-item"style="height: 100px; text-align: center; font-size: 17px;">
                git fsck
              </li>
              <li class="list-group-item"style="height: 100px; text-align: center; font-size: 17px;">
                git rebase master
              </li>
            </ul>
          </div>
      </div>
    </div>